Thumbs.db
*.cd
*.lastbuildstate
*.manifest
*.gitignore
*.log
*.tlog
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.sdf
*.opensdf
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
*.opendb
*.exp
*.dll
*.ipch
#ignore thumbnails created by windows
#Ignore files build by Visual Studio
